<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Add New Student</title>
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/ourlogo.png' %}">
    <script src="{%static 'js/addstudentjs.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/addstudentcss.css' %}">
</head>

<body>
    <div class="nav-container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'AfterLogin' %}">
                    <img src="{% static 'img/ourlogo-removebg-preview.png' %}">
                </a>
            </div>
            <div class="menu-icons">
                <div class="button-container">
                    <a href="{% url 'AfterLogin' %}"><input type="button" value="Home"></a>
                    <a href="{% url 'AddStudentPage' %}"><input type="button" value="Add New Student"></a>
                    <a href="{% url 'search' %}"><input type="button" value="Search"></a>
                    <a href="{% url 'ListStudentPage' %}"><input type="button" value="Student List"></a>
                    <a href="{% url 'HomePage' %}"><input type="button" value="Log-Out"></a>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="imgbx">
            <img src="{% static 'img/shadeddesk.png' %}" id="bgimg">
            <h2
                style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);font-size: 25px; color:white;">
                Welcome to our family! We're here to support you as you grow with our organization.</h2>
        </div>
        <div class="form-box">
            <div class="form-value">
                <h5 class="text-sucess text-center"></h5>
                <form id="lastform" onsubmit="return validation()" method="post" action="/add_student/">
                    <div>
                        {% csrf_token %}
                        <p id="info"><b>Enter the following Student's Information:</b></p>
                    </div>
                    <br>
                    <div class="Add">
                        {% csrf_token %}
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" id="name" name="name" required placeholder="Name" value="{{ name }}">
                    </div>
                    <br>
                    <div class="Add">
                        {% for msg in response_data %}
                        <div role="alert" style="color: rgb(184, 0, 0); font-size: 15px;">
                            {{ msg }}
                        </div>
                        {% endfor %}
                        <ion-icon name="albums-outline"></ion-icon>
                        <input type="text" id="ID" name="ID" required placeholder="ID" value="{{ ID }}">
                    </div>
                    <br>
                    <div class="Add">
                        {% csrf_token %}
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <input type="text" id="GPA" name="GPA" required placeholder="GPA" value="{{ GPA }}">
                    </div>
                    <br>
                    <div class="Add">
                        {% csrf_token %}
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="tel" id="phoneno" name="phoneno" required placeholder="Phone Number" value="{{ phoneno }}">
                    </div>
                    <br>
                    <div>
                        {% csrf_token %}
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" id="email" name="email"
                            placeholder="Email in this format: Student@stud.uniabb.edu.eg" required value="{{ email }}">
                    </div>
                    <br>
                    <div>
                        {% csrf_token %}
                        <span>Birth Date: </span>
                        <input type="date" id="date" name="date" required value="{{ date }}">
                    </div>
                    <br>
                    <label for="Gender">Gender: </label>
                    <select id="Gender" name="Gender">
                        <ion-icon name="transgender-outline"></ion-icon>
                        <option value="" disabled selected> select gender </option>
                        <option value="Female"> Female </option>
                        <option value="Male"> Male </option>
                    </select>
                    <br><br>
                    <label for="Level">Level: </label>
                    <select id="Level" name="Level">
                        <ion-icon name="trending-up-outline"></ion-icon>
                        <option value="" disabled selected> select Level </option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                    </select>
                    <br><br>
                    <label for="status">Status: </label>
                    <select id="status" name="status">
                        <option value="" disabled selected> select status </option>
                        <option value="Active"> Active </option>
                        <option value="Inactive"> Inactive </option>
                    </select>
                    <br><br>
                    <label for="Departement">Department: </label>
                    <select id="Departement" name="Departement">
                        <option value="" disabled selected> select departement </option>
                        <option value="general">General</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Information System">Information System</option>
                        <option value="Artificial Intelligence">Artificial Intelligence</option>
                        <option value="Information Technology">Information Technology</option>
                        <option value="Data Science">Data Science</option>
                        <option value="CyberSecurity">CyberSecurity</option>
                        <option value="Bioinformatics">Bioinformatics</option>
                        <option value="Data Science">Decision Support</option>
                        <option value="Scientific Computing">Scientific Computing</option>
                    </select>
                    <br><br><br>
                    <div class="button-container">
                        {% for msg in saved_message %}
                        <div role="alert" style="color: rgb(0, 255, 0); font-size: 15px;">
                            {{ msg }}
                        </div>
                        {% endfor %}
                        {% csrf_token %}
                        <input id="submit" type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </div>
                </form>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
