{% load static %}
<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widt=device-width, initial-scale-1.0">
    <title>Log-In</title>
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/ourlogo.png'%}">
    <link rel="stylesheet" href="{% static 'css/lpage.css'%}">

</head>

<body>
    <div class="banner">
        <div class="nav-container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'HomePage' %}">
                        <img src="{% static 'img/ourlogo-removebg-preview.png'%}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section>

        <div class="imgbx">
            <img src="{% static 'img/shadedboard.png'%}" id="bgimg">
            <h2
                style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);font-size: 25px; color:white;">
                It's great to see you again! Let's catch up on everything that's been happening.</h2>
        </div>
        <div class="contentbx">
            <div class="formbX">
                {% csrf_token %}
                <h2>Log-In</h2>
                <form id="log-in" method="POST" action="{% url 'Login_validation' %}">
                    {% csrf_token %}
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required placeholder="Enter your Email" class="email" name="email" value="{{ email }}">
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required placeholder="Enter your Password" class="password"
                            name="password" value="{{ password }}">
                    </div>
                    
                    <div class="submit">
                        <input type="submit" value="Log-In" name="Log-In">
                    </div>
                    <div class="register">
                        <p>Don't have an account? <a href="{% url 'RegisterSent' %}">Sign-Up</a></p>

                    </div>
                    {% if messages %}
                    <div class="alert">
                        {% for message in messages %}
                        <div class="alert-message {% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
