<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Search</title>
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/ourlogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<script src="{% static 'js/search.js' %}"></script>

<body>
    <div class="nav-container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'AfterLogin' %}">
                    <img src="{% static 'img/ourlogo-removebg-preview.png' %}">
                </a>
            </div>
            <div class="menu-icons">
                <div class="button-container">
                    <a href="{% url 'AfterLogin' %}"><input type="button" value="Home"></a>
                    <a href="{% url 'AddStudentPage' %}"><input type="button" value="Add New Student"></a>
                    <a href="{% url 'search' %}"><input type="button" value="Search"></a>
                    <a href="{% url 'ListStudentPage' %}"><input type="button" value="Student List"></a>
                    <a href="{% url 'HomePage' %}"><input type="button" value="Log-Out"></a>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="imgbx">
            <img src="{% static 'img/shadedsearch.png' %}" id="bgimg">
            <h2
                style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);font-size: 25px; color:white;">
                "Searching is not just about seeking, it's about finding what you need and using it to create something
                new.."</h2>
            <input type="text" id="search" name="search" required
                placeholder="Please let us know according to what you want to find your student: ">
            <script>
                $(function () {
                    $("#search").autocomplete({
                        source: function (request, response) {
                            var searchBy = $("input[name='search_by']:checked").val();
                            $.ajax({
                                url: "{% url 'search' %}",
                                data: {
                                    term: request.term,
                                    search_by: searchBy
                                },
                                success: function (data) {
                                    response(data);
                                }
                            });
                        },
                        minLength: 1,
                        select: function (event, ui) {
                            event.preventDefault();
                            $("#search").val(ui.item.value);
                        }
                    });
                });
            </script>


            <button onclick="searchFunction()">Search</button>
            <br><br>
            <form id="search-form" method="get">
                <div class="search-options">
                    {% csrf_token %}
                    <input type="radio" name="search_by" id="option-1" value="name" checked>
                    <input type="radio" name="search_by" id="option-2" value="id">
                    <label for="option-1" class="option option-1">
                        <div class="opt"></div>
                        <span>NAME</span>
                    </label>
                    <label for="option-2" class="option option-2">
                        <div class="opt"></div>
                        <span>ID</span>
                    </label>
                </div>
            </form>


            <br><br><br><br>
            <div>
                <table class="search-table">
                    <thead>
                        <tr>
                            <th>STUDENT NAME</th>
                            <th>STUDENT ID</th>
                            <th>LEVEL</th>
                            <th>Department</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                            {% for student in students %}
                            <tr>
                                <td><a href="{% url 'StudentInfoPage' student_id=student.id %}">{{ student.name }}</a></td>
                                <td>{{ student.student_id }}</td>
                                <td>{{ student.level }}</td>
                                <td>{{ student.department }}</td>
                                <td>{{ student.status }}</td>
                            </tr>
                            {% endfor %}
                            <tr id="no_result" style="display: none;">
                                <td colspan="5" class="error_msg" style="font-size: x-large; text-align: center;">There are no students that match your search.</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>
