<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    {% load static %}
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/ourlogo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script src="{% static 'js/signup.js' %}"></script>
</head>

<body>
    <div class="banner">
        <div class="nav-container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'HomePage' %}">
                        <img src="{% static 'img/ourlogo-removebg-preview.png'%}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="imgbx">
            <img src="{% static 'img/shadedcaps.png' %}" id="bgimg">
            <h2
                style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);font-size: 25px; color:white;">
                "The computer is a bicycle for our minds." - Steve Jobs</h2>
            <p
                style="position:absolute; top:80%; left:50%; transform:translate(-50%,-50%);font-size: 20px; color:white;">
                Join Us and start building your future!</p>
        </div>
        <div class="contentbx">
            <div class="formbX">
                <h2>Sign-Up</h2>
                <form id="registration-form" method="POST" onsubmit="return validation()"
                    action="{% url 'RegisterSent' %}">
                    {% csrf_token %}
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" id="name" name="name" required placeholder="Enter your Name">
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email" name="email" required placeholder="Enter your Email">
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="password" name="password" required placeholder="Enter your Password">
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="confirmPassword" name="confirmPassword" required
                            placeholder="Repeat your password">
                    </div>
                    <div class="inputbox">
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="tel" id="phoneNumber" name="phoneNumber" required
                            placeholder="Enter your Phone number">
                    </div>
                    <button id="submit-button">Sign-Up</button>
                    <div class="register">
                        <p>Already have an account? <a href="{% url 'loginpage' %}">Log-in</a></p>
                    </div>
                </form>
            </div>

        </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
